# --- Entornos Virtuales ---
**/venv/
**/.env
**/.idea/

# --- Base de Datos y Datos Persistentes ---
# No queremos subir tus vectores (40 chunks) ni la base de datos SQLite con tu dinero
**/data/
**/chroma_db/
**/vector_db/
**/*.db
**/*.sqlite

# --- Archivos Temporales de Python ---
**/__pycache__/
**/*.pyc
**/.pytest_cache/

# --- Docker ---
.docker/

# --- OS específicos ---
.DS_Store
Thumbs.db

# Unit tests / Coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov/
nosetests.xml
tox/
.pytest_cache/